*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  background-image: linear-gradient(rgb(255, 0, 140),rgb(231, 181, 18));
}
.container{
    background-color: white;
    width: 360px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    transition: 0.6s;
    overflow: hidden;
  
  }
.container form{
    width: 280px;
    position: absolute;
    left: 40px;
    top:80px;


}
form h3{
    text-align: center;
    margin-bottom: 20px;
    color: red;
}
form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}
.btn-box{
    margin: 30px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form button{
    width: 120px;
    height: 35px;
    background-color: white;
    color: rgb(240, 12, 12);
    border-radius: 10px;
    border:none;
    outline: none;
    border:2px solid red;
    /* box-shadow: 0 0 3px 3px orange; */
    margin-right: 20px;
}
#form2{
    left:450px;
}
#form3{
    left:450px;
}
form button:hover{
    transform: scale(0.9);
}
.step-row{
    width: 360px;
    height: 40px;
    box-shadow: 0px 2px 5px -2px gray ;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.step-col{
    width: 120px;
    text-align: center;
    color: rgb(238, 238, 238);
    position: relative;
    z-index: 1;
  
   
}
#prog{
    width: 120px;
    height: 40px;
    position: absolute;
    left: 0;
    background-color: rgb(233, 71, 21);
    transition: 0.6s;
}
#prog::after{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    right: -20px;
    border-left: 20px solid rgb(233, 71, 21);
}

